<div>
    <h2>Login</h2>

    <form action="" method="" id="loginForm">
        <label for="">User</label>
        <input type="email" name="user">

        <label for="">Password</label>
        <input type="password" name="password">

            <button type="submit">Sign in</button>
    </form>
    <div>
        <p>¿No tienes cuenta?<a href="/signup">Regístrate</a></p>
    </div>
</div>

<a href="/products" id="productsLink"></a>
<script src="js/login.js"></script>