<h1>Lista de usuarios</h1>
<h4 id="messageFromServer"></h4>

<input type="text" id="chatBox">

<h3 id="mesagges"></h3>



<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>