<div>
    <h2>Profile</h2>
    <label for="">First Name</label>
    <p>{{user.first_name}}</p>
    <label for="">Last Name</label>
    <p>{{user.last_name}}</p>
    <label for="">Age</label>
    <p>{{user.age}}</p>
    
    <a href="/auth/logout"><button>Logout</button> </a>
</div>